html { font-family: Arial, Helvetica, sans-serif; }

ios {
display: block;
}

/*
ifallback {
visibility: hidden;
}
*/

iheader {
position: fixed;
top: 0;
left: 0;
right: 0;
padding: 10px;
font-size: 20px;
}

ibutton {
position: relative;
left: 0;
right: 0;
padding: 10px;
font-size: 20px;
}
