html { font-family: Arial, Helvetica, sans-serif; }

// IOS tag to group IOS elements
ios {
background: white;
}

// Fallback text if HexKit fails
/*
ifallback {
visibility: hidden;
}
*/

// IOS website heading
iheader {
background: white;
color: black;
position: fixed;
top: 0;
left: 0;
right: 0;
padding: 10px;
}

// IOS button
ibutton {
background: white;
color: black;
width: 100%
padding: 10px;
}

// IOS button clicked
ibutton:active {
background: #ddd;
}
