// inline floating effect
inline-floating {
box-shadow: 0px 0px 5px rgba( 0, 0, 0, .5);
}

// floating effect
floating {
box-shadow: 0px 5px 5px rgba( 0, 0, 0, .5);
}

// rounded box
rounded {
border-radius: 5px; 
}
