.switch-button {
	width: 5cm;
	height: 1cm;
	background: #ebebeb;
	border: 3mm solid #ebebeb;
	color: #393939;
	padding: 3mm;
	transition: .5s;
}

.switch-button:hover {
	background: white;
	border: 3mm solid blue;
	color: blue;
}

.switch-button-content {
	border-left: 3mm solid blue;
	padding: 5mm;
}
