.switch-button {
	width: 20px;
	height: 10px;
	background: #ebebeb;
	border: 3px solid #ebebeb;
	color: #393939;
	padding: 3px;
	transition: .5s;
}

.switch-button:hover {
	background: white;
	border: 3mm solid blue;
	color: blue;
}

.switch-button-content {
	border-left: 3px solid blue;
	padding: 3px;
}
